<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

        <context:annotation-config></context:annotation-config>

        <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="locations">
               <list>
                   <value>classpath:config/config.properties</value>
                   <value>classpath:config/config-jta.properties</value>
               </list>
            </property>
        </bean>

        <import resource="spring-aop.xml" />

        <!--非分布式处理-->
        <import resource="spring-druid.xml"/>
        <import resource="spring-tx.xml"/>
        <import resource="spring-jdbc.xml"/>

        <!--分布式处理-->
        <import resource="spring-jta-user.xml"/>
        <import resource="spring-jta-address.xml"/>
        <import resource="spring-tx-jta.xml"/>
        <import resource="spring-jdbc-jta.xml"/>

        <import resource="spring-mvc.xml" />

</beans>